@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro&display=swap");
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/BG_with_gradient.svg");
}

.section1::before {
    /* content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Header-bg.svg");
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;*/
}

.section1::after {
    /* content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgb(156, 129, 255) 0%, rgb(85, 183, 255) 10%); */
}

.sec-header {
    margin: 53px 215px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.sec-header_nav {
}

.sec-header__nav .nav__menu .menu__page {
    // делаем элементы навигации в одну строку
    display: inline-block;
}

.nav__menu :not(:last-child) {
    margin-right: 93px;
}

.menu__page .page__item {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;
    position: relative;
}

.page__item::before {
    content: "";
    width: 9px;
    height: 9px;
    top: 2px;
    left: -23px;
    border: white solid 1px;
    border-radius: 50px;
    position: absolute;
}
.page__item_checked {
    background-color: white;
}
